*.x
*.o
*.dSYM
.DS_Store
*.d
*.so
*.root
*.pcm
AutoDict*
*.tgz
*__pycache__*
B*.sh
BFI_B*/
BF_B*/
HADD_logs/
*.pdf
.vscode/
*.debug
DASCheck_logs/
*_dictUmbrella.h
*_dictContent.h
lib/
history/
notes.txt
